<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>
  <arg name="descrete_plugin" default="tesseract_collision/BulletDiscreteBVHManager"/>
  <arg name="continuous_plugin" default="tesseract_collision/BulletCastBVHManager"/>
  <arg name="monitor_environment_topic" default=""/>

  <node pkg="tesseract_planning_server" type="tesseract_planning_server_node" name="tesseract_planning_server">
    <param name="robot_description" type="string" value="$(arg robot_description)"/>
    <param name="descrete_plugin" type="string" value="$(arg descrete_plugin)"/>
    <param name="continuous_plugin" type="string" value="$(arg continuous_plugin)"/>
    <param name="monitor_environment_topic" type="string" value="$(arg monitor_environment_topic)"/>
  </node>

</launch>
